.content {
  padding-top: 16px;

  &__container {
    display: flex;
    flex-direction: column;
    margin-right: auto;

    @media (min-width: 768px) {
      margin-left: 64px;
    }
  }

  @media (min-width: 768px) {
    width: 300px;
    padding-top: 3vw;
  }

  @media (min-width: 1024px) {
    width: 500px;
    padding-top: 3vw;
  }

  &__info {
    h4 {
      color: $orange;
      letter-spacing: 2px;
      margin-bottom: 16px;
      text-transform: uppercase;
    }

    h3 {
      color: $veryDarkBlue;
      font-weight: 700;
      font-size: 28px;
      margin-bottom: 16px;

      @media (min-width: 768px) {
        font-size: 42px;
        margin-bottom: 32px;
      }
    }

    p {
      color: $darkGrayishBlue;
      line-height: 32px;
    }
  }

  &__price {
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__container {
      display: flex;
      justify-content: space-between;
      width: 100%;

      @media (min-width: 768px) {
        display: block;
      }

      &__currentPriceAndDiscount {
        display: flex;
        align-items: center;

        p {
          font-size: 28px;
          font-weight: 700;
          margin-right: 16px;
        }

        &__discount {
          background-color: $paleOrange;
          color: $orange;
          font-weight: bold;
          padding: 2px 8px;
          border-radius: 4px;
        }
      }

      &__oldPrice {
        margin-top: 8px;
        color: $grayishBlue;
        font-weight: 700;
        text-decoration: line-through;
      }
    }
  }
}
