.header__container {
  padding: 24px 0;
  border-bottom: solid 1px #ccc;

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__content {
      display: flex;
      align-items: center;

      &__menu {
        margin-right: 24px;
        display: none;

        @media (max-width: 767px) {
          display: block;
        }
      }

      &__cart {
        position: relative;

        &__button {
          margin-right: 24px;
          cursor: pointer;
        }
      }

      &__avatar {
        width: 32px;
        height: 32px;
      }

      &__navDesktop {
        margin-left: 42px;

        @media (max-width: 767px) {
          display: none;
        }

        &__list {
          display: flex;
          justify-content: space-between;

          &__item {
            margin-right: 22px;
          }
        }
      }
    }
  }
}
