.header__container {
  padding: 24px 0;

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__content {
      display: flex;
      align-items: center;

      button {
        margin-right: 24px;
      }
    }
  }
}
