@import './header';
@import './menu';
@import './cart';
@import './product';
@import './carousel';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  max-width: 1440px;
  margin: 0 auto;

  @media (max-width: 767px) {
    max-width: 375px;
  }
}

.button {
  background: transparent;
  border: none;

  &--control {
    height: 36px;
    width: 36px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
